{{define "subject}}Welcome to EasyList{{end}}

{{define "plainBody"}}
Hi,

To activate your account please click following link:
http://{{.domain}}/activate?token={{.activationToken}}

Please note that this is a one-tome use token and it will expire in 3 days

Thanks,
The EasyList Team

{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
     <p>To activate your account please click following link: <a href="http://{{.domain}}/activate?token={{.activationToken}}">http://easylist.sergeyem.ru/activate?token={{.activationToken}}</a></p>
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The EasyList Team</p>
</body>

</html>
{{end}}